*{
    font-family: sans-serif;
}
h1,h4{
    text-align: center;
}
#my-feed{
    position: relative;
    width: 50%;
    margin: 0 auto;
    display: block;
}
#remote-container {
    display: flex;
}
#my-feed video{
    position: relative !important;
}
button{
    margin: 0 auto;
    display: block;
}
body{
    margin: 0px;
}
.stream-div{
    /* position: absolute;
    width: 80px;
    height: 80px; */
    width: 200px;
    height: 200px;
    /* Center vertically and horizontally */
<<<<<<< HEAD
    position: relative;
    top: auto;
    left: auto;
    border: 2px black solid;
    /* margin: -25px 0 0 -25px; */
=======
    position: absolute;
    top: 20%;
    left: 45%;
    margin: -25px 0 0 -25px;
>>>>>>> 5dada8ea7d6a58faec74950d92512a9f86c02806
}
#remote-container{
    position: relative !important;
    left: 45%;
    top: auto;
    height: 400px;
    width: auto;
/*
    background-size: 40px 40px;
    background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px); */
}
#my-stream{
    width: 200px;
    height: 200px;
<<<<<<< HEAD
=======
    /* Center vertically and horizontally */
    position: absolute;
    top: 20%;
    left: 45%;
    margin: -25px 0 0 -25px;
>>>>>>> 5dada8ea7d6a58faec74950d92512a9f86c02806
    border: 2px lightseagreen solid;
    z-index: 2;
}
