*{
    font-family: sans-serif;
}
h1,h4{
    text-align: center;
}
#my-feed{
    position: relative;
    width: 50%;
    margin: 0 auto;
    display: block;
}
#remote-container {
    display: flex;
}
#my-feed video{
    position: relative !important;
}
button{
    margin: 0 auto;
    display: block;
}
body{
    margin: 0px;
}
.stream-div{
<<<<<<< HEAD
    position: absolute;
    width: 76px;
    height: 76px;
    border: 2px black solid;
=======
    /* position: absolute;
    width: 80px;
    height: 80px; */
    width: 200px;
    height: 200px;
    /* Center vertically and horizontally */
    position: absolute;
    top: 20%;
    left: 45%;
    margin: -25px 0 0 -25px;
>>>>>>> 04e4c3e47b52d8d315cb1c8bab0468b7e42ed0ac
}
#remote-container{
    position: relative !important;
    left: 0px;
    top: auto;
    height: 400px;
    width: auto;
/*
    background-size: 40px 40px;
    background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px); */
}
#my-stream{
<<<<<<< HEAD
=======
    width: 200px;
    height: 200px;
    /* Center vertically and horizontally */
    position: absolute;
    top: 20%;
    left: 45%;
    margin: -25px 0 0 -25px;
>>>>>>> 04e4c3e47b52d8d315cb1c8bab0468b7e42ed0ac
    border: 2px lightseagreen solid;
    z-index: 2;
}
